*{
    color: white;
}

body{
    background-color: rgb(53, 53, 53);
    margin-top:20px;
    color: white
}
.table{
    background-color: #505050;
}
.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #505050;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #505050;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #5a5a5a;
}
.table-product td{
    border-top: 0px solid #505050;
}
.linku{
    color: white;
    text-decoration: none;
}